/* 颜色---start **/

// 主色调
// 用于要突出的按钮、文字、icon、链接等
$m-color=#1B85FF
// 辅助色
// 用于hover状态、卡片背景色等
$a-color-1=#E8F2FF
// 辅助色
// 用于左侧菜单背景色
$a-color-2=#E8F2FF
// 成功提示色
// 用于成功、通过、上升、数值负数等
$s-color=#57C22D
// 错误提示色
// 用失败、错误等
$e-color=#F22635
// 警告提示色
// 用于警告、提醒等
$w-color=#F8AC30

// 主要文字
// 用于大标题
$f-m-color=#000000
// 二级标题文字
// 用于二级标题、正文等
$f-color-2=#333333
// 辅助性文字
// 用于标题解释说明、简介等
$f-a-color=#666666
// 弱提示文字
// 用输入框、列表解释说明等
$f-t-color=#999999
// 文字置灰颜色
// 文字disable颜色
$f-d-color=#BFBFBF
// 描边色
// 用于线、输入框等线框颜色
$border=#DEDEDE
// 背景色
// 用于浅色背景
$l-background-color=#F2F2F2

/* end---颜色 **/

/* 字号---start **/

$font24=24px
// 正文小标题
$font16=16px
// 顶部菜单栏、左侧菜单栏
$font14=14px
//正文、表格、表单、注释
$font12=12px

/* end-字号 **/
